<div>
    <button class="btn btn-success addBtn" routerLink="/dashboard/transections/auto-clave-register">Add auto clave</button>
</div>

<div class="mt-4 custom-border">
    <div class="row">
        <h5>Auto clave Details</h5>
        <div class="col">
            <div class="d-flex">
                <p class="mt-2 mr-2">Show:</p>
                <input type="text" class="form-control" style="width: 60px;" [(ngModel)]="currentPage">
                <p class="mt-2 ml-2">entries</p>
            </div>

        </div>
        <div class="col">
            <input type="text" class="form-control srch" placeholder="Search" [(ngModel)]="searchTerm">
        </div>
    </div>
     <table class="table table-bordered mt-3">
        <thead>
           
            <tr>
                
                
                <th>S.no</th>
                <th>Date</th>
                 <th>Item Autoclaved</th> 
                <th>Qantity</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Attended By</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over data -->
            <tr
                *ngFor="let item of data | filter: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                <td>{{item.id}}</td>
                <td>{{ item.Date }}</td>
                 <td>{{ item. ItemAutoclaved }}</td> 
                <td>{{item.Quantity}}</td>
                <td>{{item.Starttime}}</td>
                <td>{{item.EndTime}}</td>
                <td>{{item.AttendBy}}</td>
                
            </tr>
        </tbody>
    </table>
    <!-- Pagination controls -->
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
