
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title">pasteurization Register</h4>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><span>* </span>SlNo</label>
                                    <input type="text" class="form-control" placeholder="SlNo" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> Pasteurization Date</label>
                                    <input type="date" class="form-control" placeholder="Pasteurization Date">
                                </div>
                            </div>
                                         <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Exp Date</label>
                                                <input type="date" class="form-control" placeholder="ExpiryDate">
                                            </div>   
                                        </div>
                                   <div class="col-md-3">
                                <div class="form-group">
                                    <label>Donors Milk Con ID</label>
                                    <input type="text" class="form-control" placeholder="DonrsMilkConID">
                                </div>
                            </div>
                                  </div>
                        <div class="row mt-3">

                              <div class="col-md-3">
                                <div class="form-group">
                                    <label><span>* </span>Batch NO</label>
                                    <input type="text" class="form-control" placeholder="Batch NO">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Bottles in Batch</label>
                                   <input type="text" class="form-control" placeholder="Bottles in Batch">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Start Time </label>
                                    <input type="time" class="form-control" >
                                </div>
                            </div>

                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>End Time</label>
                                    <input type="time" class="form-control" placeholder="">
                                </div>
                            </div> 

                        </div>
                     <div class="row mt-3">
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sample 10ml Lab test</label>
                                   <input type="text" class="form-control" placeholder="Sample 10ml Lab test">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Smpl Coll Date & Time</label>
                                    <input type="datetime-local" class="form-control" placeholder="SmplColl DateAndTime">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Lab agent MobileNo</label>
                                    <input type="text" class="form-control" placeholder="Lab agent MobileNo">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Culture Report</label>
                                    <input type="text" class="form-control" placeholder="Culture Report">
                                </div>
                            </div>

                            
                        </div> 
                         
                         <div class="row mt-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Reason for Positive </label>
                                    <input type="text" class="form-control" placeholder="Culture Report">
                                </div>
                            </div>
                           
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Test Result Date</label>
                                    <input type="date" class="form-control" placeholder="Test Result Date">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Eligible/Discard</label>
                                    <select class="form-select">
                                        <option>--Select--</option>
                                        <option>Eligible</option>
                                        <option>Discard</option>
                                        <option>Waiting for Result</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Officer Name</label>
                                    <input type="text" class="form-control" placeholder="PDHM Approved">
                                </div>
                            </div>
                        </div> 

                         <!-- <div class="row mt-3"> -->
                            <!-- <div class="col-md-4">
                                <div class="form-group">
                                    <label>Reason for Positive</label>
                                    <input type="text" class="form-control" placeholder="Reason for Positive">
                                </div>
                            </div> -->
                            <!-- <div class="col-md-5">
                                <div class="form-group">
                                    <label>Officer Name</label>
                                    <input type="text" class="form-control" placeholder="Officer Name">
                                </div>
                            </div> -->

                            

                            <!-- </div> -->
                        <div align="center">
                            <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;
                            <button type="reset" class="btn btn-info pull-right">Reset</button>&nbsp;
                            <button type="cancel" class="btn btn-danger pull-right"
                                onclick="history.back()">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>










