@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

.card-header {
    width: 100%;
    margin-left: 1px;
}

.container {
    background-color: #fff;
}

.step-wrapper {
    padding: 20px 0;
    display: none;
    margin-left: 50%;
}

.step-wrapper.active {
    display: block;
}

.step-indicator {
    border-collapse: separate;
    display: table;
    margin-left: 0;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-top: 20px;
}

.step-indicator li {
    display: table-cell;
    position: relative;
    float: none;
    padding: 0;
    width: 1%;

}

.step-indicator li:after {
    background-color: #ccc;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    top: 32px;
    /* Adjusted to 32px for the default size */
    left: 50%;
}

.step-indicator li:last-child:after {
    display: none;
}

.step-indicator li.active .step {
    border-color: #4183D7;
    color: #4183D7;
}

.step-indicator li.active .caption {
    color: #4183D7;
}

.step-indicator li.complete:after {
    background-color: #87D37C;
}

.step-indicator li.complete .step {
    border-color: #87D37C;
    color: #87D37C;
}

.step-indicator li.complete .caption {
    color: #87D37C;
}

.step {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 15px;
    /* Adjusted size for simplicity */
    height: 30px;
    /* Adjusted size for simplicity */
    line-height: 30px;
    /* Adjusted size for simplicity */
    margin: 0 auto;
    position: relative;
    width: 30px;
    /* Adjusted size for simplicity */
    z-index: 1;
}

.step:hover {
    cursor: pointer;
}

.caption {
    color: #ccc;
    padding: 11px 16px;
}

label {
    font-size: 15px;
}

.required {
    color: red;
}

#text {
    text-align: center;
}

table {
    width: 890px;
}

table input {

    width: 190px;
}