.card-header{
    width: 100%;
    margin-left: 1px;

}
.custom-border {
    border: 2px solid #bfc0e3;
    padding: 15px;
}

.table {
    text-align: center;
}

.srch{
    width: 35%;
    margin-left: 65%;
}



