<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title">auto-clave-list</h4>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder="UserName">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Item Autoclaved</label>
                                <select class="form-select">
                                    <option>--Select--</option>
                                    <option>Bottels</option>
                                    <option>Caps</option>
                                    <option>Conical Flask</option>
                                    <option>Beakers</option>
                                    <option>Pink Towels</option>
                                    <option>Soft Towels</option>
                                    <option>Gown</option>
                                    <option>Gauze</option>
                                    <option>Big Tray</option>                                    
                                </select>
                            </div>
                        </div>
                         <div class="col-md-4 ">
                            <div class="form-group">
                                <label>Qunatity</label>
                                <select class="form-select">
                                    <option>--Select--</option>
                                    <option>41</option>
                                    <option>45</option>
                                    <option>01</option>
                                    <option>04</option>
                                    <option>02</option>
                                    <option>02</option>
                                    <option>01</option>
                                    <option>01</option>
                                    <option>01</option>
                                </select>
                            </div>
                        </div> 
                         <!-- <div class="col-md-2 ">
                            <div class="form-group">
                                 <label>IsUser</label>
                                 </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="inlineCheckbox1"
                                            value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="inlineCheckbox2"
                                            value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">No</label>
                                    </div>
                                </div> -->
                        </div>
                        <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Start Time</label>
                                <input type="text" class="form-control" placeholder="Start Time">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>End Time</label>
                                <input type="text" class="form-control" placeholder="End Time">
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Attend By</label>
                                <select class="form-select">
                                    <option>--Select--</option>
                                    <option>Latha</option>
                                    <option>Sandya</option>
                                    <option>Bhuvana</option>
                                    <option>Hema</option>
                                    <option>Bindu</option>
                                    <option>Surya</option>
                                    <option>Durga</option>
                                    <option>Satya</option>
                                </select>
                            </div>
                        </div>
                    </div>
                            <!-- <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>IsActive</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">No</label>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Designation</label>
                                <select class="form-select">
                                    <option>--Select--</option>
                                    <option>senior doctor</option>
                                    <option>junior doctor</option>
                                    <option>nurse</option>
                                    <option>ward sweeper</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Mobile</label>
                                <input type="text" class="form-control" placeholder="Mobile">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>IsActive</label>
                            <input type="text" class="form-control" placeholder="IsActive">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Designation</label>
                            <input type="text" class="form-control" placeholder="Designation">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="text" class="form-control" placeholder="Mobile">
                        </div>
                    </div>
                </div>  -->
                <!-- <div class="row">
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label>Mode Of Relation</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">East godavari</option>
                                        <option value="2">West Godavari</option>
                                        <option value="3">Krishna</option>
                                    </select>
                                </div>
                            </div> 
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                   
                </div>
            </div>
        </div>
    </div>
    <div>
         Add another requirement
    </div> --> 