<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div>
                        <h5 class="card-title mb-0">156</h5>
                        <p class="card-text">New Clients</p>
                    </div>
                    <div>
                        <i class="bi bi-person icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div>
                        <h5 class="card-title mb-0">156</h5>
                        <p class="card-text">New Clients</p>
                    </div>
                    <div>
                        <i class="bi bi-bag-x-fill icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div>
                        <h5 class="card-title mb-0">156</h5>
                        <p class="card-text">New Clients</p>
                    </div>
                    <div>
                        <i class="bi bi-book-half icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-15">No of Users</h6>
                    <h2 class="text-right"><i class="bi bi-person-fill-add f-left"></i><span>60</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-15">No of Donors</h6>
                    <h2 class="text-right"><i class="bi bi-person-standing-dress f-left"></i><span>80</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-15">No Childrens</h6>
                    <h2 class="text-right"><i class="fa-solid fa-hands-holding-child f-left"></i><span>120</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-15">No Hospitals</h6>
                    <h2 class="text-right"><i class="fa-solid fa-hospital f-left"></i><span>20</span></h2>
                    <!-- <p class="m-b-0">Completed Orders<span class="f-right">351</span></p> -->
                </div>
            </div>
        </div>
	</div>
</div>