<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title">Add Items</h4>
                        </div>
                    </div>
                    
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row mt-3">
                             <!-- <div class="col-md-5"> 
                                <div class="form-group">
                                    <label>Company (disabled)</label>
                                    <input type="text" class="form-control" placeholder="Company" disabled>
                                </div>
                             </div>  -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>item description</label>
                                    <input type="text" class="form-control" placeholder="item description">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- drop Down -->
                                    <label>item type</label> 
                                    <select class="form-select ">
                                        <option>--Select--</option>
                                        <option>Milk Collection Bottles</option>
                                        <option>Bottle Caps</option>
                                        <option>cleaing cloth - Green</option>
                                        <option>Towels</option>
                                        <option>Bins</option>
                                        <option>Gown_Appron</option>
                                        <option>Gauze</option>
                                        <option>Trace</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- is user radio button and if given Y then shows  div with user name ,password,role dropdown is active radio button,  -->
                                    <label>Manufactured By</label>
                                    <input type="text" class="form-control" placeholder="Manufactured By">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <!-- dropdown designation master nuchi ravali back end -->
                                    <label>Exp.Date</label>
                                    <input type="date" class="form-control" placeholder="Exp.Date">
                                </div>
                            </div>
                            </div>
                            <!-- <div class="col-md-4">
                                <div class="form-group">
                                    <label>Created By</label>
                                    <input type="text" class="form-control" placeholder="Created By">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Updated By</label>
                                    <input type="text" class="form-control" placeholder="Updated By">
                                </div>
                            </div>
                            <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Created</label>
                                    <input type="date" class="form-control" placeholder="Created">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Updated</label>
                                    <input type="date" class="form-control" placeholder="Updated">
                                </div>
                            </div>
                        </div> 
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea class="form-control" rows="5"
                                        placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                </div>
                            </div>
                        </div> -->
                        <div align="center">
                            <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;
                            <button type="reset" class="btn btn-info pull-right">Reset</button>&nbsp;
                            <button type="cancel" class="btn btn-danger pull-right"
                                onclick="history.back()">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


