<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title">AMMR list</h4>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tran Date</label>
                                    <input type="date" class="form-control" placeholder="Tran Date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <!-- drop Down -->
                                    <label>Infant ID</label>
                                    <select class="form-select">
                                        <option>--select</option>
                                        <option>NILHYD_2024/05/09_B01</option>
                                        <option>NILHYD_2024/05/09_B02</option>
                                        <option>NILHYD_2024/05/09_B03</option>
                                        <option>NILHYD_2024/05/09_B04</option>
                                        <option>NILHYD_2024/05/09_B05</option>
                                        <option>NILHYD_2024/05/09_B06</option>
                                        <option>NILHYD_2024/05/09_B07</option>
                                        <option>NILHYD_2024/05/09_B08</option>
                                    </select> 
                                </div>
                            </div>
                            <!-- </div> -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <!-- is user radio button and if given Y then shows  div with user name ,password,role dropdown is active radio button,  -->
                                    <label>Infant Name</label>
                                    <input type="text" class="form-control" placeholder="Infant Name">
                                </div>
                            </div>
                        <!-- </div> -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <!-- dropdown designation master nuchi ravali back end -->
                                    <label>IP NO</label>
                                    <input type="text" class="form-control" placeholder="IP NO">
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                            <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ward Admitted</label>
                                    <input type="text" class="form-control" placeholder="Ward Admitted">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>DOB</label>
                                    <input type="date" class="form-control" placeholder="DOB">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>InBorn/OurBorn</label>
                                    <input type="text" class="form-control" placeholder="InBorn/OurBorn">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>CurrWtingms</label>
                                    <input type="text" class="form-control" placeholder="CurrWtingms">
                                </div>
                            </div>
                        </div>
                            <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label> ReasonforMilkReq</label>
                                    <input type="text" class="form-control" placeholder="ReasonforMilkReq">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>RecMilkContainerID</label>
                                    <input type="text" class="form-control" placeholder="RecMilkContainerID">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Data_TimeofReaction</label>
                                    <input type="text" class="form-control" placeholder="Data_TimeofReaction">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>DetailsofRemarks</label>
                                    <input type="text" class="form-control" placeholder=" DetailsofRemarks">

                                </div>
                            </div>
                        <!-- </div> -->
                            <div class="row"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>ReportingTime</label>
                                    <input type="text" class="form-control" placeholder="ReportingTime">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Action Taken Report</label>
                                    <input type="text" class="form-control" placeholder="Action Taken Report">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Data Entry By</label>
                                    <input type="text" class="form-control" placeholder="Data Entry By">

                                </div>
                            </div>
                        </div> 
                        <div align="center">
                            <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;
                            <button type="reset" class="btn btn-info pull-right">Reset</button>&nbsp;
                            <button type="cancel" class="btn btn-danger pull-right"
                                onclick="history.back()">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
