<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title">Baby-Master Registration</h4>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row mt-3">
                            <div class="col-md-2 ">
                                    <div class="form-group">
                                                <label>In Born</label>
                                         </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox1"
                                                    value="option1">
                                                <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox2"
                                                    value="option2">
                                                <label class="form-check-label" for="inlineCheckbox2">No</label>
                                            </div>
                                              
                                        </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label><span>* </span>Mother Id</label>
                                    <input type="text" class="form-control" placeholder="Mother Id" disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label><span>* </span>Baby Id</label>
                                    <input type="text" class="form-control" placeholder="Baby Id">
                                </div>
                            </div>
                                         <div class="col-md-3 ">
                                            <div class="form-group">
                                                <label>OB Hosptial</label>
                                                <select class="form-select">
                                                    <option>--Select--</option>
                                                    <option>Nilofor</option>
                                                    <option>Madicare</option>
                                                    <option>Gandhi</option>
                                                    <option>Appollo</option>
                                                </select>
                                            </div>
                                            
                                            
                                              
                                        </div>
                                   <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ward Admitted </label>
                                    <input type="text" class="form-control" placeholder="Ward Admitted">
                                </div>
                            </div>
                                  </div>
                        <div class="row mt-3">

                              <div class="col-md-3">
                                <div class="form-group">
                                    <label><span>* </span>DOB of Infant</label>
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label><span>* </span>Baby Ip No</label>
                                    <input type="text" class="form-control" placeholder="Baby Ip No">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label><span>* </span>Birth weight</label>
                                    <input type="text" class="form-control" placeholder="Birth weight">
                                </div>
                            </div>

                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Gestational Age</label>
                                    <input type="text" class="form-control" placeholder="Age">
                                </div>
                            </div> 

                        </div>
                     <div class="row mt-3">
                            
                            
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Reason for Admission</label>
                                    <select class="form-select">
                                        <option>--Select--</option>
                                   <option>Milk Expression</option>
                                   <option>Hard Breast</option>
                                    </select>
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Types of Feed</label>
                                    <select class="form-select">
                                        <option>--Select--</option>
                                        <option>Brest</option>
                                        <option>Spoon</option>
                                        <option>OG</option>
                                        <option>Top</option>
                                    </select>
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                    <label>Source of Infant Details</label>
                                    <select class="form-select">
                                        <option>--Select--</option>
                                        <option>Wards Visit</option>
                                        <option>Mother Self</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                            <div class="form-group">
                                                <label>Wards Visit Done By</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox1"
                                                    value="option1">
                                                <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox2"
                                                    value="option2">
                                                <label class="form-check-label" for="inlineCheckbox2">No</label>
                                            </div>
                                              
                                        </div>

                        </div> 
                         
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea class="form-control" rows="5"
                                        placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                </div>
                            </div>
                        </div> -->
                        <div align="center">
                            <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;
                            <button type="reset" class="btn btn-info pull-right">Reset</button>&nbsp;
                            <button type="cancel" class="btn btn-danger pull-right"
                                onclick="history.back()">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>