<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title">mother-Disesase</h4>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>description</label>
                                <select class="form-select">
                                    <option>--Select--</option>
                                    <option>Diabeties</option>
                                    <option>Hypertension</option>
                                    <option>Thyroid</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>Master Type</label>
                                <select class="form-select">
                                    <option>--Select--</option>
                                    <option>MI</option>
                                    <option>P</option>
                                    <option>RMV</option>
                                    <option>TG</option>
                                    <option>PDHM</option>
                                </select>
                            </div>
                        </div>
                        <div align="center">
                            <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;
                            <button type="reset" class="btn btn-info pull-right">Reset</button>&nbsp;
                            <button type="cancel" class="btn btn-danger pull-right"
                                onclick="history.back()">Cancel</button>
                        </div>
                        