<div>
  <!-- navbar -->
  <nav class="navbar">

    <div class="logo_item">
      <i class="bx bx-menu" id="sidebarOpen"></i>
    </div>
    
    <div class="navbar_content">
      <i class="bi bi-grid"></i>
      <i class='bx bx-sun' id="darkLight"></i>
      <i class='bx bx-bell'></i>
      
      <div class="dropdown">
          <img src="assets\images\profile.png" alt="Profile" class="profile" data-bs-toggle="dropdown"/>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">My Profile</a></li>
          <li><a class="dropdown-item" href="#">Change Password</a></li>
          <li><a class="dropdown-item" href="#">Log Out</a></li>
        </ul>
      </div>
      <a (click)="logout()">{{ username }}</a>
    </div>
  </nav>

  <!-- sidebar -->
  <nav class="sidebar">
    <div>
      <div class="bottom_content">
        <div class="bottom expand_sidebar">
          <i class="bi bi-arrow-right-square"></i>
        </div>
        <div class="bottom collapse_sidebar">
          <i class="bi bi-arrow-left-square"></i>
        </div>
      </div>
    </div>
      <img src="assets\favicon\android-chrome1-512x512.png" alt="Sushena Health Foundation" class="sushnImg" />
      
    <div class="menu_content">
      <ul class="menu_items">
        <li class="item">
          <div routerLink="/dashboard" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-home-alt"></i>
            </span>
            <span class="navlink" style="color:white" >Dashboard</span>
          </div>
          <!-- <ul class="menu_items submenu">
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
            </ul> -->
        </li>
        <li class="item">
          <div class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-grid-alt"></i>
            </span>
            <span class="navlink">Masters</span>
            <i class="bx bx-chevron-right arrow-left"></i>
          </div>
          <ul class="menu_items submenu">
            <a routerLink="/dashboard/master/users" class="nav_link sublink">Users</a>
            <a routerLink="/dashboard/master/hospital" class="nav_link sublink">Hospital</a>
            <a routerLink = "/dashboard/master/state" class="nav_link sublink">State</a>
            <a href="#" class="nav_link sublink">District</a>
            <a routerLink="/dashboard/master/mothers-list" class="nav_link sublink">Mothers</a>
            <a routerLink="/dashboard/master/item-list" class="nav_link sublink">Items List</a>
            <a routerLink="/dashboard/master/diseases-list" class="nav_link sublink">Diseases</a>
            <a routerLink="/dashboard/master/baby-list" class="nav_link sublink">Babies</a>
          </ul>
        </li>
        <li class="item">
          <div href="#" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-grid-alt"></i>
            </span>
            <span class="navlink">Transections</span>
            <i class="bx bx-chevron-right arrow-left"></i>
          </div>
          <ul class="menu_items submenu">
            <a href="#" class="nav_link sublink">T1</a>
            <a href="#" class="nav_link sublink">T2</a>
            <a href="#" class="nav_link sublink">T3</a>
            <a href="#" class="nav_link sublink">T4</a>
          </ul>
        </li>
        <li class="item">
          <div href="#" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-grid-alt"></i>
            </span>
            <span class="navlink">Reports</span>
            <i class="bx bx-chevron-right arrow-left"></i>
          </div>
          <ul class="menu_items submenu">
            <a href="#" class="nav_link sublink">R1</a>
            <a href="#" class="nav_link sublink">R2</a>
            <a href="#" class="nav_link sublink">R3</a>
            <a href="#" class="nav_link sublink">R4</a>
          </ul>
        </li>
      </ul>
 
      <!-- <ul class="menu_items">
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-flag"></i>
              </span>
              <span class="navlink">Notice board</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-medal"></i>
              </span>
              <span class="navlink">Award</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-cog"></i>
              </span>
              <span class="navlink">Setting</span>
            </a>
          </li>
          <li class="item">
            <a href="#" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-layer"></i>
              </span>
              <span class="navlink">Features</span>
            </a>
          </li>
        </ul> -->

      <!-- Sidebar Open / Close -->
      <!-- <div class="bottom_content">
        <div class="bottom expand_sidebar">
          <span>Expand</span>
          <i class='bx bx-log-in'></i>
        </div>
        <div class="bottom collapse_sidebar">
          <span>Collapse</span>
          <i class='bx bx-log-out'></i>
        </div>
      </div> -->
    </div>
  </nav>
</div>

<!-- Main content wrapper -->
<div class="main-content">
  <!-- <app-dashboard-body></app-dashboard-body> -->
  <app-breadcrumb></app-breadcrumb>
  <router-outlet></router-outlet>
</div>