<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title"><P>pasteurized-discard-register </P></h4>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>S.NO</label>
                                    <input type="text" class="form-control" placeholder="S.NO">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Milk Collection Date</label> 
                                    <input type="Date" class="form-control" placeholder="Milk Collection Date">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Milk Discard Date</label>
                                    <input type="Date" class="form-control" placeholder="Milk Discard Date">
                                </div>
                            </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Discard Tyoe</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">pasteurized</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Un Pasturized</label>
                                </div>
                        </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Doner No</label>
                                    <select class="form-select">
                                        <option>--Select--</option>
                                        <output>Doo1993</output>
                                        <option>Doo1994</option>
                                        <option>Doo1995</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Batch NO</label>
                                    <input type="text" class="form-control" placeholder="Batch NO">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Enter Batch/Specific Containers</label>
                                    <input type="text" class="form-control" placeholder="Enter Batch/Specific Containers">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>ContainerNo</label>
                                    <input type="text" class="form-control" placeholder="ContainerNo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Doner Name</label>
                                    <input type="text" class="form-control" placeholder="Doner Name">
                                </div>
                            </div>
                        </div> 
                            <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Reason For Discard</label>
                                    <input type="text" class="form-control" placeholder="Reason For Discard">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>AmountOfMilkDiscardinml</label>
                                    <input type="text" class="form-control" placeholder="AmountOfMilkDiscardinml">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Pasturized</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox1"
                                        value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="inlineCheckbox2"
                                        value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">No</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Batch No</label>
                                    <input type="text" class="form-control" placeholder="Batch No">
                                </div>
                            </div>
                        </div> 
                    </div>
                        <div align="center">
                            <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;
                            <button type="reset" class="btn btn-info pull-right">Reset</button>&nbsp;
                            <button type="cancel" class="btn btn-danger pull-right"
                                onclick="history.back()">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

