<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title">District Registration</h4>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>States</label>
                                    <select class="form-select">
                                        <option>--Select--</option>
                                        <option>AP</option>
                                        <option>TG</option>
                                        <option>Karnataka</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Districts</label>
                                    <input type="text" class="form-control" id="Districts">

                                </div>
                            </div>
                         </div>
                        <div align="center">
                            <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;
                            <button type="reset" class="btn btn-info pull-right">Reset</button>&nbsp;
                            <button type="cancel" class="btn btn-danger pull-right"
                                onclick="history.back()">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>