<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row card-header text-black">
                    <div class=" col">
                        <div>
                            <h4 class="card-title">Hospital Registraion</h4>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success float-right" onclick="history.back()">List</button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Hospital ID</label>
                                    <input type="text" class="form-control" placeholder="Hospital Id" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Hospital Name</label>
                                    <input type="text" class="form-control" placeholder="Hospital Name" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-select">
                                        <option>AP</option>
                                        <option>TG</option>
                                        <option>UP</option>
                                        <option>MP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <!-- drop Down -->
                                    <label>District</label> 
                                    <select class="form-select">
                                        <option>Krishna</option>
                                        <option>Eluru</option>
                                        <option>East Godhavari</option>
                                        <option>Rangareddy</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address1</label>
                                    <textarea class="form-control"></textarea>
                                    <!-- <input type="text" class="form-control" placeholder="Hospital Name" > -->
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- dropdown designation master nuchi ravali back end -->
                                    <label>Address2</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <!-- dropdown designation master nuchi ravali back end -->
                                    <label>Pincode</label>
                                    <select class="form-select">
                                        <option>500031</option>
                                        <option>521213</option>
                                        <option>521216</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        

                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Created By</label>
                                    <input type="text" class="form-control" placeholder="Address">
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Updated By</label>
                                    <input type="text" class="form-control" placeholder="City">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Created</label>
                                    <input type="text" class="form-control" placeholder="Country">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input type="text" class="form-control" placeholder="Postal Code">
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea class="form-control" rows="5"
                                        placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                </div>
                            </div>
                        </div> -->
                        <div align="center">
                            <button type="submit" class="btn btn-success pull-right">Save</button>&nbsp;
                            <button type="reset" class="btn btn-info pull-right">Reset</button>&nbsp;
                            <button type="cancel" class="btn btn-danger pull-right"
                                onclick="history.back()">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


