<div>
    <button class="btn btn-success addBtn" routerLink="/dashboard/master/add-item">Add Item </button>
</div>
<div class="mt-4 custom-border">
    <div class="row">
        <h5 class="mb-3">Item Details</h5>

        <div class="col">
            <div class="d-flex">
                <p class="mt-2 mr-2">Show:</p>
                <input type="text" class="form-control" style="width: 60px;" [(ngModel)]="currentPage">
                <p class="mt-2 ml-2">entries</p>
            </div>

        </div>
        <div class="col">
            <input type="text" class="form-control srch" placeholder="Search" [(ngModel)]="searchTerm">
        </div>
    </div>
     <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Item description</th>
                <th>Item Type</th>
                <th>Manufactured By</th>
                <th>Exp.Date</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let item of data | filter: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                <td>{{item.id}}</td>
                <td>{{ item.Itemdiscription }}</td>
                <td>{{ item. itemtype }}</td>
                <td>{{ item.ManufacturedBy }}</td>
                <td>{{ item.ExpDate }}</td>                
                <td><i class="bi bi-pencil-square"></i></td>
                
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>